{% extends 'default/form.html.twig' %}

{% block form %}
    <h1>Edit Part</h1>

    {{ form(edit_form) }}

    <div>
        <a href="{{ path('part_index') }}">Back to the list</a>
    </div>
{% endblock %}
