{% extends 'default/form.html.twig' %}

{% block form %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

