{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Isyoungdriver</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{{ path('customers_show', { 'id': customer.id }) }}">{{ customer.name }}</a></td>
                <td>{% if customer.birthDate %}{{ customer.birthDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if customer.isYoungDriver %}Yes{% else %}No{% endif %}</td>
                <td>{{ customer.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
