{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                {% block form %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}