{% extends 'base.html.twig' %}

{% block body %}
    {% block heading %}
        <h1>Sales list</h1>
    {% endblock %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Discount</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td><a href="{{ path('sales_show', { 'id': sale.id }) }}">{{ sale.id }}</a></td>
                <td>{{ sale.discount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
